@import "../../responsive.scss";

.homePage{
    display: flex;
    height: 100vh;

    .textContainer{
        flex: 3;
       
        .wrapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;

            @include sm {
                justify-content: flex-start;
            }

            @include md {
                padding: 0;
            }

            .title{
                font-size: 64px;

                @include lg {
                    font-size: 48px;
                }
            }
            .boxes{
                display: flex;
                justify-content: space-between;

                @include sm {
                    display: none;

                }
                h1{
                    font-size: 36px;
                    @include lg {
                        font-size: 32px;
                    }
                }
                h2{
                    font-size: 20px;
                    font-weight: 200;
                }
            }
        }
    }
    .imageContainer{
        flex: 2;
        background-color: aliceblue;
        position: relative;
        display: flex;
        align-items: center;
        @include md{
            display: none;
        }
        @include lg {
            width: 105%;
        }
        img{
            width: 115%;
            position: absolute;
            right:0;
            
        }
    }
}