.homePage{
    display: flex;
    height: 100vh;

    .textContainer{
        flex: 3;
       
        .wrapper{
            padding-right: 100px;
        }
    }
    .imageContainer{
        flex: 2;
        background-color: aliceblue;
        position: relative;
        display: flex;
        align-items: center;

        img{
            width: 115%;
            position: absolute;
            right:0;
            
        }
    }
}