.filter{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1{
        font-size: 24px;
        font-weight: 300;
    }

    .item{
        display: flex;
        flex-direction: column;
        gap: 2px;

        label{
            font-size: 10x;
        }
        input,select{
            width: 100px;
            padding: 10px;
            border: 1px solid lightgray;
            border-radius: 5px;
            font-size: 14px;


        }

    }
    .top{
        input{
            width: 100%;
        }
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        gap: 20px;

        button{
            width: 100px;
            padding: 10px;
            border: none;
            cursor: pointer;
            background-color: white;

            img{
                width: 46px;
                height: 46px;
            }
        }
    }
}