.listPage{
  display: flex;
  height: 100vh;

  .listConatiner{
    flex: 3;

    .wrapper{
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        overflow-y: scroll;
        height: 100%;
    }
  }
  .mapContainer{
    flex: 2;
    background-color: aliceblue;
  }
  
}