.listPage{
  display: flex;
  height: 100vh;

  .listConatiner{
    flex: 3;

    .wrapper{
        padding-right: 50px;
    }
  }
  .mapContainer{
    flex: 2;
    background-color: aliceblue;
  }
  
}