.searchBar{
    .type{
        button{
            padding: 16px 36px;
            border: 1px solid #999;
            cursor: pointer;
            background-color: white;
            text-transform: capitalize;

            &.active{
                background-color: black;
                color: white;
            }

            &:first-child{
                border-top-left-radius: 5px;
                border-right: none;
            }
            &:last-child{
                border-top-right-radius: 5px;
                border-left: none;
            }
        
            
        }
    }
    form{
        display: flex;
        justify-content: space-between;
        border: 1px solid #999;
        height: 64px;
        gap: 5px;


        input{
            border: none;
            padding: 0 10px;
            width: 200%;
        }
        button{
            border: none;
            cursor: pointer;
            background-color: white;
            img{
                width: 54px;
                height: 54px;
            }
    }
    }
}