@import "../../responsive.scss";
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    a{
        transition: all 0.4s ease;

        @include sm{
            display: none;
        }
        &:hover{
            scale: 0.9;
        }
    }

    .left{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;


        .logo{
        font-weight: bold ;
        color: rgb(0, 0, 0);
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;

       span{
        
        @include sm{
            display: initial;
       }
    }


    .img{
        width: 70px;
        height: 60px;
    }
        
        }
    }

    .right{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        height: 100%;
        
      



        @include md{
            background-color: transparent;
        }


        a{
            padding: 12px 24px;
            margin: 20px;
        }
        .register{
            background-color: rgb(231, 32, 45);
        }
        .menuIcon{
            display: none;
            z-index: 999;

            img{
                width: 36px;
                height: 36px;
                cursor: pointer;
            }

            @include sm{
                display: inline;
            }
        }
        .menu{
            position: absolute;
            top:0;
            right:-50%;
            background-color: rgb(231, 32, 45);
            color: white;
            height: 100vh;
            width: 50%;
            transition: all 0.7s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 24px;


        &.active{
            right: 0;
        }
         
         @include sm{
            a{
                display: initial;

            }
         }
        
        }
    }

}